body
{
    color:black;
    background: white;
}
.stack {
    display: grid;
}
.stack > * {
    grid-row: 1;
    grid-column: 1;
}
.overlay{
    z-index: 1;
}
.outer_box{
    border: 10px;
    border-style: double;
    border-color: gray;
    border-radius: 10%;
}   

.blue{
    color: lightblue;
    border-bottom-color: lightblue;
}

.star{
  margin: 50% 0;
  position: relative;
  display: block;
  width: 05;
  height: 0%;
  border-right: 100% solid transparent;
  border-bottom: 70% solid;
  border-left: 100% solid transparent;
  transform: rotate(35deg);
}
.star:before {
  border-bottom: 80% solid;
  border-left: 30% solid transparent;
  border-right: 30% solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45%;
  left: -65%;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star:after {
  position: absolute;
  display: block;
  top: 3%;
  left: -105%;
  width: 0%;
  height: 0%;
  border-right: 100% solid transparent;
  border-bottom: 70% solid;
  border-left: 100% solid transparent;
  transform: rotate(-70deg);
  content: '';
}
.grid{
    display: grid;
    grid-column: repeat(11,10px);
    grid-row: repeat(11,10px);
    height: 100%;
    width:100%;
}